*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  color: white;
  background: #1f2127;
  font-family: Arial, Helvetica, sans-serif;
}
a{
  text-decoration: none;
  color: inherit;
}
button,input{
  font-family: inherit;
}
.product-grid{
  display: flex;
  gap:30px;
}
@media(max-width:900px){
  .product-grid{
    flex-direction: column;
  }
}